<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPoliticaOtorgamiento">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPoliticaOtorgamiento1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUsuario">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITipoUsuario">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReferenciaTrabajo">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICondicionCredito">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPoliticaOtorgamiento1"
                contract="ServicioFinancieraIndependiente.IPoliticaOtorgamiento"
                name="NetTcpBinding_IPoliticaOtorgamiento" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuario"
                contract="ServicioFinancieraIndependiente.IUsuario" name="NetTcpBinding_IUsuario" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITipoUsuario"
                contract="ServicioFinancieraIndependiente.ITipoUsuario" name="NetTcpBinding_ITipoUsuario" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReferenciaTrabajo"
                contract="ServicioFinancieraIndependiente.IReferenciaTrabajo"
                name="NetTcpBinding_IReferenciaTrabajo" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICondicionCredito"
                contract="ServicioFinancieraIndependiente.ICondicionCredito"
                name="NetTcpBinding_ICondicionCredito" />
        </client>
    </system.serviceModel>
</configuration>