<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPoliticaOtorgamiento">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPoliticaOtorgamiento1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUsuario">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITipoUsuario">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReferenciaTrabajo">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICondicionCredito">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICredito">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICliente" maxReceivedMessageSize="5200000">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDictamen">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChecklist">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReferenciaCliente">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICobro">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPoliticaOtorgamiento1" contract="ServicioFinancieraIndependiente.IPoliticaOtorgamiento" name="NetTcpBinding_IPoliticaOtorgamiento" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuario" contract="ServicioFinancieraIndependiente.IUsuario" name="NetTcpBinding_IUsuario" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITipoUsuario" contract="ServicioFinancieraIndependiente.ITipoUsuario" name="NetTcpBinding_ITipoUsuario" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReferenciaTrabajo" contract="ServicioFinancieraIndependiente.IReferenciaTrabajo" name="NetTcpBinding_IReferenciaTrabajo" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICondicionCredito" contract="ServicioFinancieraIndependiente.ICondicionCredito" name="NetTcpBinding_ICondicionCredito" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICredito" contract="ServicioFinancieraIndependiente.ICredito" name="NetTcpBinding_ICredito" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICliente" contract="ServicioFinancieraIndependiente.ICliente" name="NetTcpBinding_ICliente" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDictamen" contract="ServicioFinancieraIndependiente.IDictamen" name="NetTcpBinding_IDictamen" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChecklist" contract="ServicioFinancieraIndependiente.IChecklist" name="NetTcpBinding_IChecklist" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReferenciaCliente" contract="ServicioFinancieraIndependiente.IReferenciaCliente" name="NetTcpBinding_IReferenciaCliente" />
            <endpoint address="net.tcp://localhost:8081/ServidorFinancieraIndependiente" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICobro" contract="ServicioFinancieraIndependiente.ICobro" name="NetTcpBinding_ICobro" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>